.blog {
    padding: 5rem 0;
}

.blogHeader {
    text-align: center;
}

.blogHeader h1 {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 15ch;
    font-weight: 700;
}

.blogHeader p {
    padding-top: 1.5rem;
    margin: 0 auto;
    max-width: 50ch;
    font-size: 1.1rem;
    color: #72839a;
}

.blogHeader span {
    font-style: italic;
    color: #005cea;
}

.blogBody {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogCard {
    width: 24rem;
    margin: 0 1rem;
    border: 1px solid #e9f0fc;
}

.cardHeader {
    padding: 1.4rem;
}

.cardHeader h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.cardHeader p {
    color: #72839a;
    font-size: 1.1rem;
}

.blogCard img {
    object-fit: cover;
}

.cardFooter {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    color: #72839a;
}

@media screen and (min-width: 768px) {
    .blogHeader h1 {
        font-size: 3rem;
    }
    .blogBody {
        padding: 3rem 1rem;
    }
}
